article {
  padding-bottom: 4rem;
}

.card-video { position: relative; }


.video-play {

   position: absolute;
   display: block;


   left: 4px;
   bottom: 4px;



   pointer-events: none;


}

.card.bg-danger.text-white a {
  color: #ffd700;
}
.card.bg-info.text-white a {
  color: #b8175d;
}
